language: python
python:
    - "2.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false

git:
    submodules: true

cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=src/homie-sonoff-touch.ino

install:
    - pip install -U platformio
    #- platformio lib -g install clickButton Homie
    - platformio lib -g install clickButton https://github.com/marvinroger/homie-esp8266/archive/develop.zip

script:
    - platformio ci --board=esp8285
